{% extends "_layouts/cp" %}
{% set selectedSubnavItem = 'abmat-translationhelper' %}
{% set title = 'Translationhelper' %}

{% block content %}
    <h2>Settings</h2>
    <p>You can edit settings on the <a href="settings/plugins/abm-translationhelper">Settings</a> page.</p>
{% endblock %}